body {
    margin: 0 0;
}

.container {
    
}

.header {
    background: #aaaacf;
    min-height: 50px;
    text-align: center;
}

.header h2 {
    color: white;
    margin: 0 0;
}

.jumbotron {
    width: 100%;
    height: 550px;
    padding: 80px 40px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    background-color: #aaa;
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/traveloka/imageResource/2018/12/10/1544412660735-aeface5904e4948ee6468eaec91784a1.jpeg);
    background-size: cover;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.jumbotron h2,
.jumbotron p {
    position: relative;
}

.footer {
    background-color: #ccc;
    min-height: 50px;
    padding: 20px;
    text-align: center;
}